<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Определитель матрицы 2 на 2</title>
</head>
<body>
    <h1>Поиск определителя</h1>
    <form action="/" method="post">
        <input type="text" name="num11" placeholder="A11" required>
        <input type="text" name="num12" placeholder="A12" required> <br>
		<input type="text" name="num21" placeholder="A21" required> 
        <input type="text" name="num22" placeholder="A22" required> <br>
        <button type="submit">Расчет</button> <br>
		
    </form>
	{% if result is not none %}
        <h2>Результат:</h2>
        <p>{{ result }}</p>
    {% endif %}
</body>
</html>
